# Server Configuration
PORT=3000

# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sokhra_db
DB_USER=spkhra_user
DB_PASSWORD=MadapesAgencyCreation

# OTP Configuration
OTP_LENGTH=6
OTP_EXPIRES_IN_MINUTES=5

# Rate Limiting Configuration
OTP_RATE_LIMIT_MAX=3
OTP_RATE_LIMIT_WINDOW_MS=60000
